.best {
    background-image: url(../img/best/webest_bg.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
}

.container__best {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__title--best {
    color: $dark;
    margin-bottom: rem(61px);
}

.best__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding-bottom: 15%;
    align-items: baseline;
}
.best__item {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: stretch;
    align-content: stretch;
    margin: 0 rem(10px);
    &-title {
        font-family: 'Lifehack';
        font-size: rem(24px);
        font-weight: 500;
        margin-top: rem(31px);
        margin-bottom: rem(10px);
        line-height: rem(28px); // text-align: center;
    }
    &-text {
        font-family: 'Ubuntu';
        font-size: rem(14px);
        font-weight: 300;
        line-height: 2; // text-align: center;
    }
}

