.burgers {
    background: linear-gradient(0deg, #f9b43b 0%, #eb8c38 47%, #f9b43b 73%);
}

.burgers__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.burgers__arrow-svg-left {
    transform: rotate(90deg);
}

.burgers__arrow-svg-right {
    transform: rotate(-90deg);
}

// .burgers__arrow-right {
//     position: absolute;
//     top: 50%;
//     left: 100%;
//     transform: rotate(-90deg);
// }

    .burgers__arrow-svg-left,
.burgers__arrow-svg-right {
    width: rem(27px);
    height: rem(27px);
}

.container-burgers {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.burgers__content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: rem(940px);

   
    @include tablets {
        flex-direction: column;
        // align-items: center;
        text-align: center;
        // padding: 0 20%;
        // margin-top: rem(70px);
    }
}

// .hero__container {
//     display: flex;
//     flex: 1;
//     flex-direction: column;
//     justify-content: center;
//     padding-bottom: 15%;
// }

.burgers__left,
.burgers__right {
    width: 50%;

    @include tablets() {
        width: auto;
    }
}

.burgers__right {
    @include tablets() {
        width: 70%;
    }
}

.burgers__left {
    margin-right: rem(20px);    
    position: relative;
}

.burgers__composition {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;  

    &:hover .burgers__composition-menu {
        display: block;
    }

    @include tablets() {
        left: 5%;
    }
}

.burgers__composition-wrap {
    border-radius: rem(5px);
    background-color: rgba(227, 80, 40, 0.4);
    width: rem(90px);
    height: rem(90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: #e35028;
        }
    }




.burgers__icon-pic {
    width: rem(46px);
    height: rem(44px);
}

.composition__text {
    color: $white;
    @include gagalin;
    font-size: rem(14px);
}

.burgers__composition-menu {
    display: none;
}

.composition__list {
    padding: rem(20px);
    background-color: rgba(254, 248, 236, 0.9);
    border-radius: 3%;
    display: flex;
    flex-direction: column;
}

.composition__item {
    display: flex;
    align-items: center;
}

.composition__img {
    margin-right: rem(20px);
}

.composition__pic {
    width: rem(45px);
    height: rem(45px);
}



.composition__item-title,
.composition__item-num {
    font-size: rem(14px);
}

.composition__item-title {

    margin-right: rem(50px);
    width: rem(80px);
}

.composition__item-num {
    width: rem(36px);
    text-align: right;
}


// .composition__item {
//     &.beef {
//          &::before {
//         display: block;
//         width: rem(50px);
//         height: rem(50px);
//         content: "";
//         background: url(../img/icons/beef.svg) no-repeat;
//         }
//     } 
// }

.burgers__kkal {
    position: absolute;
    top: rem(355px);
    left: 0;
    width: rem(60px);
    height: rem(90px);
    background: url(../img/icons/kkal.svg) no-repeat;
    fill: $white;

        @include tablets {
            top: 0;
            left: 85%;
        }
}

// .burgers__kkal-wrap {
//     width: rem(60px);
//     height: rem(90px);
//     background: url(../img/icons/kkal.svg) no-repeat;
//     fill: #fff;

// }

.burgers__kkal-wrap {
    position: relative;
}

.kkal__num {
    position: absolute;
    top: rem(20px);
    left: rem(13px);
    color: $white;
    @include gagalin;
    font-size: rem(20px);
    // text-align: center;
    // line-height: rem(70px);
}

.kkal__text {
    position: absolute;
    top: rem(57px);
    left: rem(9px);
    color: $white;
    @include gagalin;
    font-size: rem(20px);
    // text-align: center;
    // line-height: rem(5px);

}



// .hero__right {
//     padding-top: rem(115px);
//     @include tablets() {
//         padding-top: 0;
//     }
// }

.burgers__desc {
    font-size: rem(14px);
    color: $white;
    @include ubuntu (light);
    line-height: 1.7em;
}

.burgers__img {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    max-height: 100%;
    margin-top: rem(72px);
}






.section__title--burger {
    color: $white;
    margin: 0 0 rem(40px) 0;
    padding: 0;
    line-height: 0.88em;
}

.promo__left, .promo__right {
    display: inline-block;
}

.promo__left {
    margin-right: rem(30px); 
}


.promo__num {
    color: $red;
    @include gagalin;
    font-size: rem(72px);
    display: inline-block;
}

.promo__desk {
    color: $red;
    @include gagalin;
    font-size: rem(30px);
    display: inline-block;
}

